<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.BDHotelFuenteVidaConnectionString"
            connectionString="Data Source=XXX-PC;Initial Catalog=BDHotelFuenteVida;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.BDHotelFuenteVidaConnectionString1"
            connectionString="Data Source=MARGARITA;Initial Catalog=BDHotelFuenteVida;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>