<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaProceso.Properties.Settings.Setting" connectionString="Data Source=MATRIX\SQLXPRESS;Initial Catalog=BDHotelFuenteVida;User ID=Rafael;Password=decimo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>